In [163]:
import numpy as np
from scipy import stats
import pandas as pd
import scipy

In [240]:
# Ответ на задание 1
round(stats.binom_test(67, 100, 0.75), 4)

0.0822

In [9]:
# Ответ на задание 2
# Все четыре варианта верны

In [10]:
fin = open('pines.txt', 'r')
fin

In [97]:
fin = pd.read_csv('pines.txt', sep='\t')
fin.head()

      sn    we
0  200.0   8.8
1  199.3  10.0
2  193.6  22.4
3  167.7  35.6
4  183.9  45.4

200.0

In [92]:
np.max(fin.iloc[:, 1].values)

200.0

In [86]:
fin[(0 <= fin.sn) & (fin.sn < 40) & (0 <=fin.we) & (fin.we < 40)]

       sn    we
31   10.8   0.0
32   26.4   5.4
33   11.0   5.5
34    5.1   3.9
35   10.1   8.5
36   18.9  11.3
37   28.4  11.0
40   33.9  21.4
51   32.1  35.0
52   28.4  35.5
56   22.4  34.3
57   23.8  33.3
58   24.9  29.8
59    9.0  38.9
150  11.0  34.4
151  17.5  21.9
152   4.3  31.3
153   5.9   8.1

In [116]:
def equal_squares_creator(table, N):
    """ Возвращает массив с пятью наборами координат, где количество 
    строк в массиве соответствует количеству равных квадратов
    на которые покоординатно поделена исходная площадь
    Работает только с квадратными площадами"""
    X = []
    # Измеряет длину вектора
    l = np.max(fin.values[:, 1])
    # Считает кратное число координат
    n = l/N
    min1 = 0
    max1 = n
    min2 = 0
    max2 = n
    
    for i in range(N):
        for j in range(N):
        #table[(0 <= fin.sn) & (fin.sn < 40) & (0 <=fin.we) & (fin.we < 40)]
            X.append(table[(min1 <= fin.sn) & (fin.sn < max1) & (min2 <=fin.we) & (fin.we < max2)])
            min1, max1 = min1+n, max1+n
    min2, max2 = min2+n, max2+n
    return X
    #pass

In [157]:
def equal_squares_creator_checker(X, N):
    X = equal_squares_creator(X, N)
    if len(X) == N*N:
        print('True')
    else:
        print('False')
    #print(z = max(X[-1][0])//N)
    #print(X[:][0])
    #pass

In [158]:
equal_squares_creator_checker(fin.values, 5)

True

In [160]:
X = equal_squares_creator(fin.values, 5)

In [185]:
z = scipy.stats.binned_statistic_2d(fin.values[:, 0], fin.values[:, 1], None, 'count', bins=5)

In [204]:
sum(map(lambda x: sum(z[0][x]), range(5)))

584.0

In [205]:
z[0]

array([[18., 26., 29., 25., 20.],
       [14., 12., 22., 34., 25.],
       [12., 24., 15., 50., 37.],
       [ 8., 19., 31., 50.,  7.],
       [ 7.,  8., 37., 27., 27.]])

In [206]:
# Ответ на задание 3
584/25

23.36

In [215]:
y = np.zeros((5, 5))
for i in range(len(y)):
    for j in range(len(y)):
        y[i, j] = 23.36
y

array([[23.36, 23.36, 23.36, 23.36, 23.36],
       [23.36, 23.36, 23.36, 23.36, 23.36],
       [23.36, 23.36, 23.36, 23.36, 23.36],
       [23.36, 23.36, 23.36, 23.36, 23.36],
       [23.36, 23.36, 23.36, 23.36, 23.36]])

In [233]:
#res = stats.chisquare(y.reshape(25), z[0].reshape(25), ddof=1)
res = stats.chisquare(z[0].reshape(25), y.reshape(25))

In [234]:
# Ответ на задание 4
round(res[0], 2)

150.59

In [232]:
# Ответ на задание 5
# Уровень значимости меньше 0.05 - гипотеза равномерности отвергается
res

Power_divergenceResult(statistic=150.58904109589042, pvalue=9.87806178820889e-21)