In [24]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
data = pd.read_table('water.txt')
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [5]:
data.corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

1 вопрос

In [6]:
#ответ на вопрос 1 
round(-0.654849, 4)

-0.6548

2 вопрос

In [7]:
data.corr(method='spearman')

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

In [8]:
#ответ на вопрос 2
round(-0.631665, 4)

-0.6317

3 вопрос

In [10]:
data[(data.location=='North')].corr()

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

In [11]:
data[(data.location=='South')].corr()

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [12]:
#ответ на вопрос 3
round(-0.368598, 4)

-0.3686

4 вопрос

In [14]:
a = 203
b = 718
c = 239
d = 515

In [19]:
(a*d-b*c)/(((a+b)*(a+c)*(b+d)*(c+d))**0.5)

-0.10900237458678963

In [20]:
# ответ на вопрос 4
round(-0.10900237458678963, 3)

-0.109

5 вопрос

In [99]:
# Ответ на вопрос 5
stats.chi2_contingency([[a, b], [c, d]])

(19.40753078854304,
 1.0558987006638725e-05,
 1,
 array([[243.03402985, 677.96597015],
        [198.96597015, 555.03402985]]))

In [35]:
stats.chi2_contingency(bars_sex)[1]

1.0558987006638725e-05

6 вопрос

In [97]:
def proportions_diff_confint_ind(sample1, sample2, alpha = 0.05):    
    z = stats.norm.ppf(1 - alpha / 2.)

    p1 = sample1[0] / np.sum(sample1)
    p2 = sample2[0] / np.sum(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ np.sum(sample1) + p2 * (1 - p2)/ np.sum(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ np.sum(sample1) + p2 * (1 - p2)/ np.sum(sample2))
    
    return (left_boundary, right_boundary)

In [104]:
proportions_diff_confint_ind([c, d], [a, b])

(0.053905233215813156, 0.13922183141523897)

In [100]:
# Ответ вопрос 6
round(0.053905233215813156, 4)

0.0539

7  вопрос

In [105]:
def proportions_diff_z_stat_ind(sample1, sample2):
    n1 = sum(sample1)
    n2 = sum(sample2)
    
    p1 = sample1[0]/ n1
    p2 = sample2[0] / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [106]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

In [110]:
proportions_diff_z_test(proportions_diff_z_stat_ind([c, d], [a, b]))

8.153453089576601e-06

8 вопрос

In [ ]:
def matthewsr(a, b, c, d, e, f):
    return (a*d - b*c) / np.sqrt((a + b)*(a + c)*(b + d)*(c + d))

In [111]:
l = np.array([[197, 111, 33], [382, 685, 331], [110, 342, 333]])

In [121]:
# Ответ на вопрос 8
round(stats.chi2_contingency(l)[0], 4)

293.6831

In [126]:
# Ответ на вопрос 9
stats.chi2_contingency(l)[1]

2.4964299580093467e-62

In [128]:
def cramers_stat(table):
    chi2 = stats.chi2_contingency(table)[0]
    n = table.sum()
    return np.sqrt(chi2 / (n*(min(table.shape)-1)))

In [131]:
# Ответ на вопрос 10
print('V Cramer stat value: %.4f' % cramers_stat(l))

V Cramer stat value: 0.2412